footer {
  padding: 60px 0;
  background-color: $btn;

  .h2 {
    margin-bottom: 40px;
    @include font(24px, $monteserrat, bold);
    color: $white;
  }

  a {
    margin-bottom: 40px;
    @include font(13px, $roboto);
    color: $white;

    &:not(:nth-last-of-type(1)) {
      margin-right: 30px;
    }
  }

  .socials {
    a {
      @include size(30px);
      margin-bottom: 0;
      line-height: 26px;
      border: 2px solid $white;
      border-radius: 50%;
      display: inline-block;
      transition: 0.3s;

      &:hover {
        border-color: $light;
      }
    }
  }
}