* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

figure { margin: 0; }

.image-container img,
.responsive-image {
	@include size(100% auto);
	display: block;
}

.relative { position: relative; }

.text-uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.flex {
	display: flex;
}

section {
	padding: {
		top: 30px;
		bottom: 30px;
	}
}

div.column {
	@include flex-direction(column);
}

.position-bottom {
	@include max-size($max-width null);
	position: absolute;
	bottom: 0;
}

.white-color {
	color: $white;
}

.column {
	@include flex-direction(column);
}

input, textarea, button {
	&:focus {
		outline: none;
		box-shadow: none;
	}
}