footer.container-fluid
    .container
        .row.middle-sm.column
            .h2.text-uppercase forest
            nav.row.between-xs.footer-nav
                a(href='/') home
                a(href='/') our service
                a(href='/') team
                a(href='/') contact
            .socials
                a(href="/").text-center
                    i.fa.fa-facebook
                a(href="/").text-center
                    i.fa.fa-twitter
                a(href="/").text-center
                    i.fa.fa-linkedin
