header.container-fluid
    .container
        .row.between-sm
            .logo-container.col-xs-12.col-sm-6
                a.text-uppercase(href='/') forest
            nav.row.middle-sm
                a.text-uppercase.next(href='#top') home
                a.text-uppercase.next(href='#next') blog
                a.text-uppercase.next(href='#service') our services
                a.text-uppercase.next(href='#team') team
                a.text-uppercase.next(href='#contact') contact